*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.gfg{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    margin: 20px;
    text-align: center;
}
.gfg dotlottie-player{
   margin: auto;
   padding: 10px 0px;
}